// src/sass/variables.scss
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,900&display=swap');
// Globals
$body-font-family: 'Roboto';
$btn-text-transform: initial;
$font-color: #000000;
$font-color_fade: #888;
$color_primary: #2273f8;
$btn_hover_color: #f4f4f4;
$border_radius: 8px;
$toolbar-content-padding-x: 0px;
